/* The Close Button */
#closes {
    color: #fdbe0d;  
    font-size: 70px;
    font-weight: bold;
    position: relative;
    left: 300px;    
    bottom: 65px !important;
}

#closes:hover,
#closes:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#info {    
    position: relative;    	    
    left: 20px;    
}
#info p {
    font-size: 15px !important;
    width: 310px;
}
#submit {
    position: relative;
    top: 60px;
}

/*findpokemon*/
.offer {
	border: 2px solid transparent;
	background: #07E883;
	color: black;
	font-size: 16px;
	line-height: 10px;
	padding: 10px 0;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 100px;
	margin: 0 auto;
}
.offer {
    background: #fdbe0d !important;    
}
.offer:hover {
	background-color: #f8d05a !important;
    border: 2px solid #3498DB;
} 