<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://poketrade.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>poketrade.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pokeTrade</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$pokeTrade</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="PokeGoTradeDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:hpark.database.windows.net,1433;Initial Catalog=pokeDB;Persist Security Info=False;User ID={c3dream};Password={P@ssw0rd};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:hpark.database.windows.net,1433;Initial Catalog=pokeDB;Persist Security Info=False;User ID={c3dream};Password={P@ssw0rd};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PokeGoTrade.Models.ApplicationDbContext, PokeGoTradeModel" MigrationConfiguration="PokeGoTrade.Migrations.AccountMigrations.Configuration, PokeGoTrade" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PokeGoTradeDB-Web.config Connection String">
      <ParameterValue>Server=tcp:hpark.database.windows.net,1433;Initial Catalog=pokeDB;Persist Security Info=False;User ID={c3dream};Password={P@ssw0rd};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>