@{
    ViewBag.Title = "PokeGoTrade";
} 
   
<link rel="stylesheet" href="~/Content/main.css">
 <!-- Scripts -->
<script src="~/Scripts/jquery.scrolly.min.js"></script>
<script src="~/Scripts/skel.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script src="~/Scripts/main.js"></script>

    <!-- Banner -->
    @*<section id="banner">
        <div class="inner">
            <h1>
                Welcome to the Pokémon Go Trade Site
            </h1>           
        </div>
    </section>*@

    <!-- One -->
    <article id="one" class="post style1">
        <div class="image">
            <img src="~/Content/imgs/main1.jpg" alt="" data-position="75% center" />
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h2>Create your Postings</h2>                 
                </header>
                <p>You can create your own postings to show people what pokémons you have and need for trade!</p>               
            </div>           
        </div>
    </article>

    <!-- Two -->
    <article id="two" class="post invert style1 alt">
        <div class="image">
            <img src="~/Content/imgs/main2.png" alt="" data-position="10% center" />
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h2>Find Pokémon</h2>       
                </header>
                <p>Based on where you live, find the pokémon you want.</p>               
            </div>           
        </div>
    </article>

    <!-- Three -->
    <article id="three" class="post style2">
        <div class="image">
            <img src="~/Content/imgs/main3.jpg" alt="" data-position="80% center" />
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h2>Make Offers</h2>
                </header>
                <p>After searching for a pokémon you want, you can make an offer and receive confirmation.</p>                  
            </div>          
        </div>
    </article>

    <!-- Four -->
    <article id="four" class="post invert style2 alt">
        <div class="image">
            <img src="~/Content/imgs/main4.png" alt="" data-position="60% center" />
        </div>
        <div class="content">
            <div class="inner">
                <header>
                    <h2>Received Offers</h2>
                </header>
                <p>You will get offers from people when they choose your postings!</p>     
            </div>
        </div>
    </article>   

<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header" style="margin:10px auto">
            <p style="text-align:center; font-size:15px; color:#e86407">Not affiliated with Nintendo nor Niantic. Pokémon and its trademarks are ©1995-2016 Nintendo. Images and Pokémon names on this website are the property of <a href="https://wall.alphacoders.com">https://wall.alphacoders.com</a> and The Pokémon Company International, Inc. This is not an official website endorsed by Nintendo or Niantic.</p>
            <p style="text-align:center; color:#e86407">© 2016 PokkeGoTrade All rights reserved.</p>
        </div>
    </div>
</div>
   
