@{
    ViewBag.Title = "PokeGoTrade";
}
<link rel="stylesheet" media="screen" href="~/Content/effect.css" />
<div class="container2">
    <ul class="grid cs-style">
        <li>
            <a href="~/Posting/CreateViewIndex">
                <figure>
                    <img src="~/Content/imgs/timesheet-icon.png">
                    <figcaption>
                        <h2>My Postings</h2>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="~/FindPokemon/Index">
                <figure>
                    <img src="~/Content/imgs/find.png">
                    <figcaption>
                        <h2>Find Pokemon</h2>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="~/OfferMade/Index">
                <figure>
                    <img src="~/Content/imgs/offerMade.png">
                    <figcaption>
                        <h2>Offer I Made</h2>
                    </figcaption>
                </figure>
            </a>
        </li>
        <li>
            <a href="~/OfferReceived/Index">
                <figure>
                    <img src="~/Content/imgs/offerReceived.png">
                    <figcaption>
                        <h2>Received Offer</h2>
                    </figcaption>
                </figure>
            </a>
        </li>      
        <li>
            <a href="~/Users/Index">
                <figure>
                    <img src="~/Content/imgs/edit-users.png">
                    <figcaption>
                        <h2>Lockout</h2>
                    </figcaption>
                </figure>
            </a>
        </li>   
        <li>
            <a href="~/Manage/ChangePassword">
                <figure>
                    <img src="~/Content/imgs/password.png">
                    <figcaption>
                        <h2>Change Password</h2>
                    </figcaption>
                </figure>
            </a>
        </li>      
    </ul>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom navbar-collapse collapse">
    <div class="container">
        <div class="navbar-header" style="margin:10px auto">
            <p style="text-align:center; font-size:15px; color:#e86407">Not affiliated with Nintendo nor Niantic. Pokémon and its trademarks are ©1995-2016 Nintendo. Images and Pokémon names on this website are the property of <a href="https://wall.alphacoders.com">https://wall.alphacoders.com</a> and The Pokémon Company International, Inc. This is not an official website endorsed by Nintendo or Niantic.</p>
            <p style="text-align:center; color:#e86407">© 2016 PokkeGoTrade All rights reserved.</p>
        </div>
    </div>
</div>